
header {
  font-family: 'Roboto Slab', serif;
  background-color: #E5F3F2;
  font-weight: bold;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  padding-top: 20px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #6D6E71;
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
  width: 100vw;
}

h1 span {
  color: #00A79D;
}
header div {
  width: 100vw;
  text-align: center;
}
#title-input {
  width: 500px;
  margin-bottom: 10px;
}
#body-input {
  width: 500px;
  margin-bottom: 10px;
}

#save-btn {
  background-color: #00A79D;
  color: #FFFFFF;
  border-style: none;
  width: 500px;
  height: 20px;
  margin-bottom: 15px;
}

#save-btn:hover {
  background-color: #045E55;
  color: #FFFFFF;
}

section {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  padding-top: 20px;
}

div #input {
  width: 100vw;
}

div.ideaList {
  width: 100vw;
}

#search-input {
  width: 500px;
}

.container {
  margin:auto;
  width: 500px;
  padding-top: 20px;
  border-bottom: solid 2px #D1D3D4;
}

.idea-title {
  color: #6D6E71;
  font-size: 18px;
  text-align: left;
  display: inline-block;
}
.delete-button {
  background-image: url("images/delete.svg");
  background-color: #FFFFFF;
  border: none;
  width: 20px;
  height: 20px;
  float:right;
}

.idea-body {
  color: #939598;
  font-size: 14px;
  text-align: left;
}

.idea-quality {
  color: #6D6E71;
  font-size: 12px;
}
/* images for url - buttons
